/* src/styles/BookList.css */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.booklist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.book-list
{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin: 10px 0;
}
